extends ../_layout/layout

block variables
	- var title = 'Documents'
	- var description = 'Description for home page'
	- var bodyclass = 'documents-page'
	- var selected = 'Documents';
	- var href = '';

block body
	section.home
		.container
			.row
				.col
					ul.nav.nav-pills.mt-4
						li.nav-item
							a.nav-link.active(href="#sec1") Variables
						li.nav-item.ml-1
							a.nav-link.active(href="#sec2") Gọi data
						li.nav-item.ml-1
							a.nav-link.active(href="#sec3") Cấu hình build
			.row
				.col.p-4
					h1.mt-6#sec1 Variables
					hr
					h5 In config.js file
					p.text-sm.text-danger Không được để comment trong file này
					dl.row
						dt.col-sm-2 Cú pháp JADE/PUG
						dd.col-sm-10
							.row
								.col-sm-6
									code _dataJS.[filename].[KEY].[VALUE]
								.col-sm-6
									pre EX: _dataJS.config.VIENSOI_APP.ACTIVE_FIXED_HEADER
									code=_dataJS.config.VIENSOI_APP.ACTIVE_FIXED_HEADER
						.w-100.mt-4
						dt.col-sm-2 Cú pháp JS
						dd.col-sm-10
							.row
								.col-sm-6
									code [KEY].[VALUE]
								.col-sm-6
									pre EX: VIENSOI_APP.ACTIVE_FIXED_HEADER
									code true
						dt.col-12
							hr
						dt.col-sm-3 ACTIVE_FIXED_HEADER
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.ACTIVE_FIXED_HEADER
								.col-sm-9 Fixed header khi scroll
						dt.col-sm-3 ACTIVE_HEADER_POSITION
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.ACTIVE_HEADER_POSITION
								.col-sm-9 Khi scroll bao nhiêu pixel thì active class
						dt.col-sm-3 ACTIVE_PADDING_MAIN
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.ACTIVE_PADDING_MAIN
								.col-sm-9 Bật/tắt padding cho thẻ main
						dt.col-sm-3 ACTIVE_FIXED_FOOTER
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.ACTIVE_FIXED_FOOTER
								.col-sm-9 Bật/tắt tự động kéo footer xuống sát dưới trang tính năng này chỉ chạy khi độ rộng màn hình > 600px
						dt.col-sm-3 DISPLAY_FOOTER
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.DISPLAY_FOOTER
								.col-sm-9 Tính năng ACTIVE_FIXED_FOOTER chỉ chạy khi độ rộng màn hình lớn hơn giá trị này
						dt.col-sm-3 ACTIVE_RESPONSIVE
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.ACTIVE_RESPONSIVE
								.col-sm-9 Bật/tắt tính năng responsive image & responsive background
						dt.col-sm-3 ACTIVE_OFFCANVAS
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.ACTIVE_OFFCANVAS
								.col-sm-9 Thay đổi cách hiển thị menu khi responsive
						dt.col-sm-3 ACTIVE_BACKTOTOP
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.ACTIVE_BACKTOTOP
								.col-sm-9 Bật/tắt nút Back to top
						dt.col-sm-3 DISPLAY_BACKTOTOP
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.DISPLAY_BACKTOTOP
								.col-sm-9 Khi scroll bao nhiêu pixel thì bật nút Back to top
						dt.col-sm-3 CHANGE_GRID
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.CHANGE_GRID
								.col-sm-9 Các thuộc tính trên thay đổi khi độ rộng màn hình bằng giá trị này
						dt.col-sm-3 DEV_MODE
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.DEV_MODE
								.col-sm-9 Bật/tắt Dev tools
						dt.col-sm-3 DEV_MODE_GIRD_FULL
						dd.col-sm-9
							.row
								.col-sm-3=_dataJS.config.VIENSOI_APP.DEV_MODE
								.col-sm-9 Bật/tắt lưới FLUID
					h1.mt-5#sec2 Gọi data
					hr
					h5 In folder data
					p.text-sm.text-danger Có thể gọi từ .yaml và .json config
					dl.row
						dt.col-sm-2 Cú pháp JADE/PUG
						dd.col-sm-10
							.row
								.col-sm-6
									code _data.[filename].[KEY].[VALUE]
								.col-sm-6
									pre EX: _data.info.SET.name
									code=_data.info.SET.name
									pre.mt-4 EX: _data.config.CON.version
									code=_data.config.CON.version
					h1.mt-5#sec3 Cấu hình build
					hr
					h5 In config.yaml file
					p.text-sm.text-danger Đây là file cấu hình build
					dl.row
						dt.col-sm-2 Cú pháp JADE/PUG
						dd.col-sm-10
							.row
								.col-sm-6
									code config.[KEY].[VALUE]
								.col-sm-6
									pre EX: config.concat.ACTIVE_CONCAT
									code=config.concat.ACTIVE_CONCAT

					dl.row
						each val, key in config
							if (typeof(val) == "object")
								dt.col-sm-3=key
								dd.col-sm-9
									dl.row
										each val_second, key_second in val
											dt.col-sm-3=key_second
											if (typeof(val_second) == "object")
												dd.col-sm-9
													each val_third in val_second
														div=val_third
											else
												dd.col-sm-9=val_second
							else
								dt.col-sm-3=key
								dd.col-sm-9=val
