link(rel='canonical', href='https:#{href}.html')
meta(name="generator", content="#{description}")
meta(name="description" content="#{description}")
// Meta Tag
meta(name='robots', content='index, follow')
//- meta(name='keywords', content=config.SEO.cfg_keywords)
//- meta(name='description', content=config.SEO.cfg_description)
//- meta(name='robots', content='noindex, nofollow')
//- meta(name='apple-itunes-app', content='app-id'+config.SEO.app_appleID)
link(rel='dns-prefetch', href='http://maps.googleapis.com/')
//- link(rel='dns-prefetch', href='http://s.w.org/')
// SEO MAP
meta(name='DC.title', content='#{title}')
meta(name='geo.region', content=config.SEO.seo_geo)
meta(name='geo.placename', content=config.SEO.cfg_name)
meta(name='geo.position', content=config.SEO.seo_geo_lng+';'+config.SEO.seo_geo_dlg)
meta(name='ICBM', content=config.SEO.seo_geo_lng+','+config.SEO.seo_geo_dlg)
// SEO
meta(name='author', content=config.SEO.cfg_author)
link(rel='canonical', href='https://'+config.SEO.cfg_url+'/')
// Social: Twitter
meta(name='twitter:card', content='#{title}')
meta(name='twitter:site', content=config.SEO.cfg_url)
meta(name='twitter:creator', content='@'+config.SEO.cfg_author+'')
meta(name='twitter:title', content='#{title}')
meta(name='twitter:description', content='#{description}')
meta(name='twitter:image:src', content='https://'+ config.SEO.cfg_url + '/images/4xlabs-logo.png')
// Social: Facebook / Open Graph
//- meta(property='fb:admins', content=config.SEO.app_facebook_adminsID)
//- meta(property='fb:app_id', content=config.SEO.app_facebook_ID)
meta(property='og:url', content='https://'+config.SEO.cfg_url+'/')
meta(property='og:type', content=config.SEO.cfg_content)
meta(property='og:title', content='#{title}')
meta(property='og:image', content='https://'+ config.SEO.cfg_url + '/images/4xlabs-logo.png')
meta(property='og:description', content='#{description}')
meta(property='og:site_name', content=config.SEO.cfg_name)
meta(property='article:author', content='//www.facebook.com/' + config.SEO.cfg_sitenameurl)
meta(property='article:publisher', content='//www.facebook.com/' + config.SEO.cfg_sitenameurl)
// Social: Google / Schema.org
link(rel='author', href='//plus.google.com/'+ config.SEO.cfg_sitenameurlgoogle+'/')
link(rel='publisher', href='//plus.google.com/'+ config.SEO.cfg_sitenameurlgoogle+'/')
meta(itemprop='name', content=config.SEO.cfg_name)
meta(itemprop='description', content='#{description}')
meta(itemprop='image', content='https://'+ config.SEO.cfg_url + '/images/4xlabs-logo.png')
// Meta Tag Search
//- link(rel='search', type='application/opensearchdescription+xml', title=config.SEO.cfg_name, href='/'+config.SEO.cfg_url+'/SearchEngineInfo.xml')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-title', content='#{title}')
link(rel='alternate', hreflang='x-default', href='https://'+config.SEO.cfg_url+'/')
link(rel='alternate', hreflang='en-US', href='https://'+config.SEO.cfg_url+'/')
// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
	script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
	script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
