footer.footer
	.container
		.row
			.col.linkfooter
				.row
					.col-sm-6.col-md-4
						nav.list-group
							each val, key in footermenu
								if (typeof(val.URL) == "object")
									each second_val, second_key in val.URL
										.list-group-item
											a(href=second_val.URL)=second_val.Name
								else 
									.list-group-item
										a(href=val.URL)=val.Name
					.col-sm-6.col-md-4
						nav.list-group
							each val, key in footermenu2
								if (typeof(val.URL) == "object")
									each second_val, second_key in val.URL
										.list-group-item
											a(href=second_val.URL)=second_val.Name
								else 
									.list-group-item
										a(href=val.URL)=val.Name
					.col-sm-12.col-md-4
						.socials
							p Explore by Bao Nguyen
							ul.list-inline
								each val, key in footersocial
									li.list-inline-item
										a(href=val.URL, target='_blank')
											i.fa(class=val.Icon, ga-action-click='', data-value=val.Name, data-label=val.Name, data-action=val.Name)
								
	.container-fluid
		.row
			.col.copyright.text-center
				p.m-b-0 Copyright 2017 by 
					a(href='/') baonguyenyam.
