include _config_menu

<!-- ////////////// HEADER ////////////// -->
<!-- ////////////// GLOBAL MENU ////////////// -->
header.pos-f-t.offcanvas(class=!_dataJS.config.VIENSOI_APP.ACTIVE_PADDING_MAIN && _dataJS.config.VIENSOI_APP.ACTIVE_FIXED_HEADER ? 'has-tranparent': '')
	.container
		.mainmenu.clearfix 
			button.navbar-toggler.navbar-toggler-right.offcanvas-toggle.hidden-lg-up(type='button', data-toggle='offcanvas', data-target='#VienSoiGlobalMenu')
				i.fa.fa-bars
			a.navbar-brand.hidden-lg-up(href='/index.html')
				strong(site-logo) NAME
		nav#VienSoiGlobalMenu.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-offcanvas.navbar-offcanvas-touch(role='navigation')
			ul#VienSoiNAV.navbar-nav.mr-auto
				li.nav-item.align-items-center.align-self-center
					a.navbar-brand.hidden-md-down(href='/index.html')
						strong(site-logo) NAME
				each val, key in menu
					if (typeof(val.URL) == "object")
						if selected === val.Name
							li.nav-item.dropdown.active
								a.nav-link.dropdown-toggle.align-items-center.d-flex(href="#", title=val.Name, id="navbarDropdownMenu"+val.Name, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									img.img-fluid(src='/images/'+val.Icon, alt=val.URL.Name)
									span=val.Name
								.dropdown-menu(aria-labelledby="navbarDropdownMenu"+val.Name)
									each second_val, second_key in val.URL
										a.dropdown-item(href=second_val.URL)=second_val.Name
						else
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle.align-items-center.d-flex(href="#", title=val.Name, id="navbarDropdownMenu"+val.Name, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									img.img-fluid(src='/images/'+val.Icon, alt=val.URL.Name)
									span=val.Name
								.dropdown-menu(aria-labelledby="navbarDropdownMenu"+val.Name)
									each second_val, second_key in val.URL
										a.dropdown-item(href=second_val.URL)=second_val.Name
					else
						if selected === val.Name
							li.nav-item.active
								a.nav-link.align-items-center.d-flex(href=val.URL, title=val.Name)
									img.img-fluid(src='/images/'+val.Icon, alt=val.Name)
									span=val.Name
						else
							li.nav-item
								a.nav-link.align-items-center.d-flex(href=val.URL, title=val.Name)
									img.img-fluid(src='/images/'+val.Icon, alt=val.Name)
									span=val.Name
			.navbar-text Right Content
<!-- ////////////// HEADER ////////////// -->
