
- var menu = { 'Home': 'index.html', 'About': { 'Company': 'company.html','Executive team': 'team.html' },  'Contact': 'contact.html' };

header.pos-f-t
	nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded
		.container
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#XLABSGlobalMenu', aria-controls='XLABSGlobalMenu', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			a.navbar-brand(href='#') Logo
			#XLABSGlobalMenu.collapse.navbar-collapse
				ul#XLABSNAV.navbar-nav.mr-auto
					each val, key in menu
						if (typeof(val) == "object")
							if selected === key
								li.nav-item.active.dropdown
									a#supportedContentDropdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')= key
									.dropdown-menu(aria-labelledby='supportedContentDropdown')
										each val1, key1 in val
											a.dropdown-item(href=val1, title=key1)= key1
							else
								li.nav-item.dropdown
									a#supportedContentDropdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')= key
									.dropdown-menu(aria-labelledby='supportedContentDropdown')
										each val1, key1 in val
											a.dropdown-item(href=val1, title=key1)= key1
						else
							if selected === key
								li.nav-item.active
									a.nav-link(href=val, title=key)= key
							else
								li.nav-item
									a.nav-link(href=val, title=key)= key
				span.navbar-text
					| Navbar text with an inline element