include _config_menu

<!-- ////////////// HEADER ////////////// -->
<!-- ////////////// GLOBAL MENU ////////////// -->
header.pos-f-t.offcanvas(class=_dataJS.config.VIENSOI_APP.HEADER_TRANPARENT ? 'has-tranparent': 'no-tranparent')
	.container
		.mainmenu.clearfix
			button.navbar-toggler.navbar-toggler-right.offcanvas-toggle(type='button', data-toggle='offcanvas', data-target='#VienSoiGlobalMenu', class=_dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "sm" ? 'hidden-md-up' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "md" ? 'hidden-lg-up' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "lg" ? 'hidden-xl-up': 'hidden-xs-up')
				i.fa.fa-bars
			a.navbar-brand(href='/index.html', class=_dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "sm" ? 'hidden-md-up' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "md" ? 'hidden-lg-up' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "lg" ? 'hidden-xl-up': 'hidden-xs-up')
				strong(site-logo) NAME
		nav#VienSoiGlobalMenu.navbar.navbar-light.bg-faded.navbar-offcanvas.navbar-offcanvas-touch(role='navigation', class=_dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "sm" ? 'navbar-toggleable-sm' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "md" ? 'navbar-toggleable-md' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "lg" ? 'navbar-toggleable-lg': 'navbar-toggleable-xs')
			ul#VienSoiNAV.navbar-nav.mr-auto
				li.nav-item.align-items-center.align-self-center
					a.navbar-brand(href='/index.html', class=_dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "sm" ? 'hidden-md-down' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "md" ? 'hidden-lg-down' : _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON && _dataJS.config.VIENSOI_APP.NAV_CHANGE_ON === "lg" ? 'hidden-xl-down': 'hidden-xs-down')
						strong(site-logo) NAME
				each val, key in menu
					if (typeof(val.URL) == "object")
						if selected === val.Name
							li.nav-item.dropdown.active
								a.nav-link.dropdown-toggle.align-items-center.d-flex(href="#", title=val.Name, id="navbarDropdownMenu"+val.Name, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									img.img-fluid(src='/images/'+val.Icon, alt=val.URL.Name)
									span=val.Name
								.dropdown-menu(aria-labelledby="navbarDropdownMenu"+val.Name)
									each second_val, second_key in val.URL
										a.dropdown-item(href=second_val.URL)=second_val.Name
						else
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle.align-items-center.d-flex(href="#", title=val.Name, id="navbarDropdownMenu"+val.Name, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									img.img-fluid(src='/images/'+val.Icon, alt=val.URL.Name)
									span=val.Name
								.dropdown-menu(aria-labelledby="navbarDropdownMenu"+val.Name)
									each second_val, second_key in val.URL
										a.dropdown-item(href=second_val.URL)=second_val.Name
					else
						if selected === val.Name
							li.nav-item.active
								a.nav-link.align-items-center.d-flex(href=val.URL, title=val.Name)
									img.img-fluid(src='/images/'+val.Icon, alt=val.Name)
									span=val.Name
						else
							li.nav-item
								a.nav-link.align-items-center.d-flex(href=val.URL, title=val.Name)
									img.img-fluid(src='/images/'+val.Icon, alt=val.Name)
									span=val.Name
			.navbar-text Right Content
<!-- ////////////// HEADER ////////////// -->
