extends ../_layout/layout

block variables
	- var title = 'Documents'
	- var description = 'Description for home page'
	- var bodyclass = 'documents'
	- var selected = 'Documents';
	- var href = '';

block body
	section.home
		.container
			.row
				.col
					ul.nav.nav-pills.mt-4
						li.nav-item
							a.nav-link.active(href="#sec1") Variables
						li.nav-item.ml-1
							a.nav-link.active(href="#sec2") Gọi data
						li.nav-item.ml-1
							a.nav-link.active(href="#sec3") Cấu hình build
			.row
				.col.p-4
					h1.mt-6#sec1 Variables
					hr
					h5 In config.js file
					p.text-sm.text-danger Không được để comment trong file này
					dl.row
						dt.col-sm-2 Cú pháp JADE/PUG
						dd.col-sm-10
							.row
								.col-sm-6
									code _dataJS.[filename].[KEY].[VALUE]
								.col-sm-6
									pre EX: _dataJS.config.VIENSOI_APP.ACTIVE_FIXED_HEADER
						.w-100.mt-4
						dt.col-sm-2 Cú pháp JS
						dd.col-sm-10
							.row
								.col-sm-6
									code [KEY].[VALUE]
								.col-sm-6
									pre EX: VIENSOI_APP.ACTIVE_FIXED_HEADER
					h1.mt-5#sec2 Gọi data
					hr
					h5 In folder data
					p.text-sm.text-danger Có thể gọi từ .yaml và .json config
					dl.row
						dt.col-sm-2 Cú pháp JADE/PUG
						dd.col-sm-10
							.row
								.col-sm-6
									code _data.[filename].[KEY].[VALUE]
								.col-sm-6
									pre EX: _data.info.SET.name
									code=_data.info.SET.name
									pre.mt-4 EX: _data.config.CON.version
									code=_data.config.CON.version


					h1.mt-5#sec3 Cấu hình build
					hr
					h5 In config.yaml file
					p.text-sm.text-danger Đây là file cấu hình build
					dl.row
						dt.col-sm-2 Cú pháp JADE/PUG
						dd.col-sm-10
							.row
								.col-sm-6
									code config.[KEY].[VALUE]
								.col-sm-6
									pre EX: config.concat.ACTIVE_CONCAT
									code=config.concat.ACTIVE_CONCAT
					dl.row.mt-3
						hr
						dt.col-sm-3 ACTIVE_CONCAT
						dd.col-sm-9
							.row
								.col-sm-3=config.concat.ACTIVE_CONCAT
								.col-sm-9 Nếu giá trị là TRUE nghĩa là ko nén js/css trong thư mục pages mà sẽ được load dynamic theo từng page. Khi đó:
									br
									span.text-danger - Trong file main.sass bạn phải xoá đi phần các file sass được import từ thư mục pages
					hr
					dl.row
						each val, key in config
							if (typeof(val) == "object")
								dt.col-sm-3=key
								dd.col-sm-9
									dl.row
										each val_second, key_second in val
											dt.col-sm-3=key_second
											if (typeof(val_second) == "object")
												dd.col-sm-9
													each val_third in val_second
														div=val_third
											else
												dd.col-sm-9=val_second
							else
								dt.col-sm-3=key
								dd.col-sm-9=val
